


.container-fluid{
  text-align: center;
  background-color:black;
  height: 700px; 
  
  font-size :40px;
  color:white ;
  object-fit: cover;
  padding:20px 20ps 20px 20px;
  margin:0;
  /* margin-top:100px; */
 
}
.container2{
  display:flex;
}

.container1 ul {
  padding-left: 20px;
}
#name{

font-size:100px;

}
button{
size: 50px;
background-color:black;
color:white; }

#arrow{
margin-top:275px;
/* font-size:200px; */
color:white;
/* padding:10px 10px 10px 10px; */

margin-bottom: 20px;


}
p{
font-size:20px;
}
p-2{
font-size:30px;
padding-top: 400px;
margin-left:50px;
}

.profile{

border-radius:95%;
height:300px;
width:300px;
/* padding:100px 100px 100px 100px; */
margin-bottom:100px;

}

/* section {
margin: 30px;
padding: 100px 100px 100px 100px;
background-color: #fff; */ 
/* border-radius: 8px; */
/* /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
/* display:flex;
margin-top:10px;
} */

h2{
font-size:40px;
/* padding-top:20px; */
}

ul {
list-style-type: none;
/* padding: 30px; */
margin-top:0px;
}
ul li {
/* background-color: #e4e4e4; */
margin-left: 150px;
/* margin-top: 70px;   */
padding: 20px 0;
/* border-radius: 2px; */
font-size:30px;

}
.button1{
size:50px;
}
.container3 .d-flex {
  margin-bottom: 20px;
}
.container4 ul {
  padding-left: 20px;
}

.container1{
  display:flex;
  padding:20px 0;
  margin:0;
  }
.container2{
display:flex;
padding:10px 0;
/* margin-bottom:40; */
margin-top:20px;
}
.container3{

/* margin-left: 100px; */
margin: 0;
padding: 20px 0;

}
.container4{
display:flex;
/* margin-left:50px; */
margin: 0;
padding: 20px 0;

}
#univ{
font-size:45px;
}
.project{
font-size:50px;
margin-left: 200px;
/* margin-top:200px; */
color:black;

}

.progress{
font-size:30px;
height:30px;
width:100%;
display:flex;
background-color:gray;
color:black;
column-span: 2;
column-gap:30px;
object-fit:fill;
margin-left:20px;
border: black 2px solid;
box-shadow:0lvw;
}
h3{
font-size:40px;
padding-top:150px;
}
h2{
  margin-left: 30px;
}
.carousel-item{
width:900px;
margin-left:00px;
/* margin-top:100px; */
margin-bottom:50px;
}


/* input{
height:100px;
width:200px;
border-color: coral;
background-color:black;
font-size:75px;
margin-left: 100px;
} */

span{
font-size:40px;
}

/* textarea{
width:2000px;
height:250px;
background-color: black;
border-color: coral;
font-size:75px;
margin-left: 100px;
} */

footer{
font-size:20px;
/* margin-left:100px; */
background-color: black;
color:white;
width:100%;
margin: 0;
padding: 20px 0;


}
/* .message{

border-color:chocolate;
font-size: 50px;
margin-left: 100px;

} */

.footer1{
/* margin-left:500px; */
/* margin-top:150px; */
/* padding :100px 100px 100px 100px; */
text-align:left;


}
i{
font-size:50px;
}

#uparrow{
/* margin-bottom:5px; */
/* font-size:200px; */
background-color:black;
color:white;
border-radius: 95%;
margin-left:700px;
padding:10px 10px 10px 10px;

}

.footer2{
text-align: center;
background-color:grey;
height:250px;
padding:100px 100px 100px 100px;

}
